:root {
    --color-black: #000000;
    --color-blue: #000080;
    --color-green: #008000;
    --color-cyan: #008080;
    --color-red: #800000;
    --color-magenta: #800080;
    --color-yellow: #808000;
    --color-light-gray: #c0c0c0;
    --color-dark-gray: #808080;
    --color-light-blue: #0000ff;
    --color-light-green: #00ff00;
    --color-light-cyan: #00ffff;
    --color-light-red: #ff0000;
    --color-light-magenta: #ff00ff;
    --color-light-yellow: #ffff00;
    --color-white: #ffffff;
}
