:root {
    --color-black: #000000;
    --color-blue: #000080;
    --color-green: #008000;
    --color-cyan: #008080;
    --color-red: #800000;
    --color-magenta: #800080;
    --color-yellow: #808000;
    --color-light-gray: #c0c0c0;
    --color-dark-gray: #808080;
    --color-light-blue: #0000ff;
    --color-light-green: #00ff00;
    --color-light-cyan: #00ffff;
    --color-light-red: #ff0000;
    --color-light-magenta: #ff00ff;
    --color-light-yellow: #ffff00;
    --color-white: #ffffff;
}

/* wall colors */
.c1 {
    color: #f75f;
}
.c2 {
    color: #000f;
}
.c3 {
    color: #754f;
}
.c4 {
    color: #655f;
}
.c5 {
    color: #976f;
}
.c6 {
    color: #643f;
}
.c7 {
    color: #544f;
}
.c8 {
    color: #533f;
}
.c9 {
    color: #433f;
}
.c10 {
    color: #422f;
}
.c11 {
    color: #322f;
}
.c12 {
    color: #632f;
}
.c13 {
    color: #853f;
}
.c14 {
    color: #a65f;
}
.c15 {
    color: #a32f;
}
.c16 {
    color: #942f;
}
.c17 {
    color: #855f;
}
.c18 {
    color: #744f;
}
.c19 {
    color: #210f;
}
.c20 {
    color: #732f;
}
.c21 {
    color: #521f;
}
.c22 {
    color: #821f;
}
.c23 {
    color: #b64f;
}
.c24 {
    color: #c53f;
}
.c25 {
    color: #953f;
}
.c26 {
    color: #d43f;
}
.c27 {
    color: #d75f;
}
.c28 {
    color: #f97f;
}
.c29 {
    color: #fb9f;
}
.c30 {
    color: #f64f;
}
.c31 {
    color: #b32f;
}
.c32 {
    color: #a75f;
}
.c33 {
    color: #c86f;
}
.c34 {
    color: #e42f;
}
.c35 {
    color: #047f;
}
.c36 {
    color: #8fff;
}
.c37 {
    color: #7fff;
}
.c38 {
    color: #8eff;
}
.c39 {
    color: #aaff;
}
.c40 {
    color: #abff;
}
.c41 {
    color: #a8ff;
}
.c42 {
    color: #b7ff;
}
.c43 {
    color: #016f;
}
.c44 {
    color: #005f;
}
.c45 {
    color: #9dff;
}
.b1 {
    background: #0000;
}
.b2 {
    background: #a65f;
}
.b3 {
    background: #976f;
}
.b4 {
    background: #754f;
}
.b5 {
    background: #643f;
}
.b6 {
    background: #632f;
}
.b7 {
    background: #422f;
}
.b8 {
    background: #533f;
}
.b9 {
    background: #210f;
}
.b10 {
    background: #322f;
}
.b11 {
    background: #744f;
}
.b12 {
    background: #942f;
}
.b13 {
    background: #544f;
}
.b14 {
    background: #855f;
}
.b15 {
    background: #853f;
}
.b16 {
    background: #433f;
}
.b17 {
    background: #655f;
}
.b18 {
    background: #953f;
}
.b19 {
    background: #732f;
}
.b20 {
    background: #821f;
}
.b21 {
    background: #a32f;
}
.b22 {
    background: #d43f;
}
.b23 {
    background: #e42f;
}
.b24 {
    background: #b32f;
}
.b25 {
    background: #f64f;
}
.b26 {
    background: #c53f;
}
.b27 {
    background: #d75f;
}
.b28 {
    background: #fb9f;
}
.b29 {
    background: #a75f;
}
.b30 {
    background: #b64f;
}
.b31 {
    background: #f75f;
}
.b32 {
    background: #f97f;
}
.b33 {
    background: #521f;
}
.b34 {
    background: #c86f;
}
.b35 {
    background: #000f;
}
.b36 {
    background: #7fff;
}
.b37 {
    background: #8fff;
}
.b38 {
    background: #aaff;
}
.b39 {
    background: #a8ff;
}
.b40 {
    background: #047f;
}
.b41 {
    background: #016f;
}
.b42 {
    background: #9dff;
}
.b43 {
    background: #005f;
}
.b44 {
    background: #abff;
}
.b45 {
    background: #b7ff;
}
.b46 {
    background: #8eff;
}
