/*! IBM VGA 8x16 by VileR | CC BY-SA 4.0 License | https://int10h.org/oldschool-pc-fonts/ */
@font-face {
    font-family: ibmvga8;
    src: url(/fonts/Web437_IBM_VGA_8x16.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
