/* banner styling */
.main-page {
    @apply mt-10;
    height: 30rem;
}

.main-page > .banner {
    @apply hidden sm:block text-center;
    position: absolute;
    left: 50%;
    margin-left: -32rem;
}

.main-page > .banner > div > i {
    font-style: normal;
    text-decoration: none;
    white-space: pre;
}
.c0 {
    color: #655f;
}
.b0 {
    background: #0000;
}
.c1 {
    color: #000f;
}
.c2 {
    color: #632f;
}
.c3 {
    color: #322f;
}
.c4 {
    color: #643f;
}
.c5 {
    color: #754f;
}
.c6 {
    color: #533f;
}
.c7 {
    color: #955f;
}
.c8 {
    color: #a66f;
}
.b1 {
    background: #976f;
}
.c9 {
    color: #976f;
}
.c10 {
    color: #744f;
}
.b2 {
    background: #643f;
}
.c11 {
    color: #422f;
}
.b3 {
    background: #533f;
}
.b4 {
    background: #422f;
}
.b5 {
    background: #322f;
}
.c12 {
    color: #853f;
}
.c13 {
    color: #c53f;
}
.c14 {
    color: #544f;
}
.b6 {
    background: #744f;
}
.b7 {
    background: #544f;
}
.b8 {
    background: #955f;
}
.b9 {
    background: #a66f;
}
.b10 {
    background: #754f;
}
.c15 {
    color: #433f;
}
.b11 {
    background: #433f;
}
.c16 {
    color: #942f;
}
.b12 {
    background: #942f;
}
.c17 {
    color: #953f;
}
.b13 {
    background: #732f;
}
.b14 {
    background: #953f;
}
.b15 {
    background: #d64f;
}
.b16 {
    background: #a32f;
}
.b17 {
    background: #821f;
}
.c18 {
    color: #821f;
}
.b18 {
    background: #b32f;
}
.b19 {
    background: #e42f;
}
.c19 {
    color: #d43f;
}
.c20 {
    color: #a32f;
}
.c21 {
    color: #f64f;
}
.b20 {
    background: #f64f;
}
.b21 {
    background: #632f;
}
.b22 {
    background: #655f;
}
.c22 {
    color: #fa7f;
}
.b23 {
    background: #d43f;
}
.c23 {
    color: #b32f;
}
.b24 {
    background: #fa7f;
}
.c24 {
    color: #b65f;
}
.b25 {
    background: #b65f;
}
.b26 {
    background: #c53f;
}
.c25 {
    color: #d64f;
}
.b27 {
    background: #f86f;
}
.c26 {
    color: #732f;
}
.c27 {
    color: #210f;
}
.b28 {
    background: #c64f;
}
.c28 {
    color: #f86f;
}
.b29 {
    background: #853f;
}
.c29 {
    color: #511f;
}
.c30 {
    color: #c64f;
}
.b30 {
    background: #511f;
}
.c31 {
    color: #e97f;
}
.b31 {
    background: #f53f;
}
.b32 {
    background: #210f;
}
.b33 {
    background: #e97f;
}
.c32 {
    color: #fcaf;
}
.c33 {
    color: #f53f;
}
.c34 {
    color: #e42f;
}
.b34 {
    background: #000f;
}
.b35 {
    background: #7fff;
}
.b36 {
    background: #8fff;
}
.b37 {
    background: #aaff;
}
.c35 {
    color: #7fff;
}
.b38 {
    background: #057f;
}
.c36 {
    color: #8fff;
}
.b39 {
    background: #016f;
}
.c37 {
    color: #9dff;
}
.b40 {
    background: #9dff;
}
.b41 {
    background: #006f;
}
.c38 {
    color: #baff;
}
.b42 {
    background: #baff;
}
.c39 {
    color: #aaff;
}
.c40 {
    color: #057f;
}
.c41 {
    color: #016f;
}
.c42 {
    color: #006f;
}
.c43 {
    color: #9cff;
}
.b43 {
    background: #9cff;
}
.b44 {
    background: #036f;
}
.c44 {
    color: #036f;
}
.b45 {
    background: #fcaf;
}
